.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
}

#clear {
max-width: fit-content;
background-color: yellow;
padding: 5px;
margin: 5px;
}

#equalsBtn {
max-width: fit-content;
background-color: lime;
padding: 5px;
margin: 5px;
}

.operators {
    display: flex;
}

.operator {
    padding: 5px;
    border: solid black 1px;
    margin 5px;
    background-color: aqua;
}

.numbers {
    display: flex;
}

.number {
    padding: 5px;
    border: solid black 1px;
    margin 5px;
    background-color: pink;
}


